<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <% include ../partials/nav%>
                <header>
                    <div class="column">
                        <h1>Here are the available kidz to work</h1>
                        <nav>
                            <ul class = 'list-group active'>
                                <% for (var i = 0; i < kidz.length; i++){ %>
                                    <li>
                                        <h2>
                                            <a class="list-group-item"
                                            href="/kidz/<%=kidz   [i]._id%>"><%=kidz[i].name%>
                                            </a>
                                            <a class="list-group-item" href="/kidz/<%=kidz[i]._id%>">Age <%=kidz[i].age%>
                                            </a>
                                        </h2>
                                    </li>
                                <% } %>
                                <li>
                                    <a class="list-group-item active" href="/kidz/new">Add a Child
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item active" href="/chores/new">Add a Chore
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
             </div>
        </div>
    </body>
</html>
