<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <% include ../partials/nav%>
        <header>
            <h1>Here are the available kidz to work</h1>
            <nav>
                <ul>
                    <a href="/kidz/new">Add a Child</a>
                </ul>
                <ul>
                    <% for (var i = 0; i < kidz.length; i++){ %>
                        <li>
                            <h2>
                                <a href="/kidz/<%=kidz[i]._id%>"><%=kidz[i].name%>
                                </a>
                                <a href="/kidz/<%=kidz[i]._id%>">---<%=kidz[i].age%>
                                </a>
                            </h2>
                        </li>
                    <% } %>
                    <li><a></a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>
