<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <header>
            <h1>Add a child</h1>
            <nav>
                <% include ../partials/nav%>
            </nav>
        </header>
        <main>
            <form action="/kidz" method="post">
                Name:<input type="text" name="name"><br>
                Age:<input type="text" name="age"><br>
                <input class="btn"type="submit" value="Add Child">
            </form>
        </main>
    </body>
</html>
