<nav>
        <ul>
            <li class="nav nav-tab">
                <a class="btn btn-primary"href="/">Home</a>
                <a class="btn btn-primary"href="/kidz">Kidz Index</a>
                <a class="btn btn-primary"href="/chores">Chores</a>
            </li>
        </ul>
</nav>
