<nav class="navbar navbar-default">
        <ul class="nav nav-tabs">
            <li>
                <a class="btn"href="/">Home</a>
            </li>
            <li>
                <a class="btn"href="/kidz">Kidz Index</a>
            </li>
            <li>
                <a class="btn"href="/chores">Chores Index</a>
            </li>
        </ul>
</nav>
