<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head%>
    </head>
    <body>
        <header>
            <% include ./partials/nav%>
            <div class="title">
                <h1>Chore Tracker</h1>
                <img class= 'image' src="http://dailyparent.com/wp-content/uploads/2015/01/featured-kids-doing-chores.jpg" alt="">
            </div>
        </header>
            <% include ./partials/footer %>
    </body>
</html>
