<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head%>
    </head>
    <body>
        <header>
            <h1>Welcome to the Kidz Chores App</h1>
            <nav>
                <nav>
                    <ul>
                        <li>
                            <form action="/kidz">
                                <input class="btn" type="submit" value="Kidz Index">
                            </form>
                            <form action="/chores">
                                <input class="btn" type="submit" value="Chores Index">
                            </form>
                        </li>
                    </ul>
                </nav>
            </nav>
        </header>
    </body>
</html>
