
body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
ul{
    list-style: none;
}
.formcontrol{

}
.title{
    position: relative;
    top: 150px;
    background-color: orange;
    text-align: center;
    border-style: outset;
}
.btn{
    /*height: 10vh;*/
    width: 5em;
    display: flex;
    white-space: normal;
}

.footer{
    background-color: orange;

    /*height: 40px;
    position: absolute;*/
}
h1{
    position: relative;
    background-color: orange;
    text-align: center;
    border-style: outset;
}

section{
    display: block;
    padding-top: 50px;
}

input{
    padding: 10px;
    margin: 10px;
}
