
body{
    text-align: center;
    background-color: rgb(181, 199, 159);
}
ul{
    list-style: none;
}
.formcontrol{

}
.title{
    position: relative;
    top: 150px;
    background-color: orange;
    text-align: center;
    border-style: outset;
}
.btn{
    /*height: 10vh;*/
    width: 5em;
    display: flex;
    white-space: normal;
    text-align: center;
}
.navbar {
    background-color: rgb(181, 199, 159);
}
.footer{
    background-color: orange;
    position: absolute;
    top: 650;
    bottom: 0;
}
h1{
    position: relative;
    background-color: rgb(242, 208, 141);
    text-align: center;
    color: rgb(199, 70, 41);
}

section{
    display: block;
    padding-top: 50px;
}

input{
    padding: 10px;
    margin: 10px;
}
