<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <% include ../partials/nav%>
        <header>
            <h1>Chores</h1>
            <nav>
                <ul class="list-group">
                    <% for (var i = 0; i < chores.length; i++){ %>
                    <h2>
                        <li>
                        <a href = "/chores/<%=chores[i]._id%>"><%=chores[i].title%></a>
                        </li>
                    <% } %>
                        <li>
                        <a class="list-group-item active" href = "/chores/new">Create a New Chore<a/>
                        </li>
                    </h2>
                </ul>
            </nav>

        </header>

    </body>
</html>
