<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <% include ../partials/nav%>
        <header>
            <h1>Chores</h1>
            <nav>
                <ul>
                    <% for (var i = 0; i < chores.length; i++){ %>
                    <li>
                        <a href = "/chores/<%=chores[i]._id%>"><%=chores[i].title%></a>
                    </li>
                <% } %>
                    <li>
                        <a href = "/">Home<a/>
                    </li>
                    <li>
                        <a href = "/chores/new">Create a New Chore<a/>
                    </li>
                </ul>
            </nav>

        </header>

    </body>
</html>
