<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <header>
        <h1>Add A Chore</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/chores">Chores Index Page</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/chores" method="post">
                <input type="text" name="title"/><br>
                <textarea name="body"></textarea>
                <input class="btn" type="submit" value="Create Chore">
            </form>
        </main>
    </body>
</html>
