<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
            <% include ../partials/nav%>
        <header>
        <h1>Add A Chore</h1>
            <nav>
            </nav>
        </header>
        <main>
            <form action="/chores" method="post">
                <select name="kidzId">
                    <% for(var i = 0; i < kidz.length; i++) { %>
                    <option value="<%=kidz[i]._id%>"><%kidz[i].name%></option>
                <% } %>
            </select><br>
                <input type="text" name="title"/><br>
                <input type="text" name="body">
                <input type="text" name="body">
                <input type="text" name="body">
                <input type="text" name="body">
                <input type="text" name="body">
                <!-- <textarea name="body"></textarea> -->
                <input class="btn" type="submit" value="Create Chore">
            </form>
        </main>
    </body>
</html>
