<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
            <% include ../partials/nav%>
        <header>
            <h1><%=chores.title%> </h1>
        </header>
        <main>
            <section>
                <ul class="chores">
                    <h2>
                        <li>Description</li>
                    </h2>
                    <li><%=chores.body%></li>
                </ul>
                <a href ="/chores/<%=chores._id%>/edit">Edit Chore</a>
                <form action="/chores/<%=chores._id%>?_method=DELETE"   method="post">
                    <input type="submit" value="Delete Chore"/>
                </form>
            </section>
        </main>
    </body>
</html>
