<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
            <% include ../partials/nav%>
        <header>
            <h1><%=chores.title%> </h1>
        </header>
        <main>

            <section>
                <ul class="chores">
                    <h2>
                        <li>Description</li>
                    </h2>
                    <h3><li><%=chores.body%></li></h3>
                </ul>
                <div class="btncontainer">
                    <div class="formbtns">
                        <a class = "btn btn-info edit" href ="/chores/<%=chores._id%>/edit">Edit Chore</a>
                    </div>
                    <div class="formbtns">
                    <form action="/chores/<%=chores._id%>?_method=DELETE" method="post">
                        <input class = "btn btn-info" type="submit" value="Delete Chore"/>
                    </form>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
